
.card {
   height:280px;
   padding-top:20px;
}

.card-nowidth{
    background-color:#ffffff;
    height:250px;
    margin-bottom: 20px;
    /* margin-left:5px;*/
    padding-left:0px;
    padding-right:0px;
}

.cardMedium {
     height:320px;
   padding-top:20px;
}

.cardHeader {
    font-size:14px;
    line-height:20px;
    height:30px;
    color:#FFF;
    margin:5px;
    text-align:left;
    text-transform:uppercase;

}

.cardimageDiv
{
    height:100px;
}

.cardFooter {
     
    height:40px;
    padding:0px;
    text-align:left;
    margin-bottom:10px;
    font-size:14px;
    line-height:20px;
}

.cardFooterMedium
{
    background-color: #ffffff;
    font-size:10pt;
    height:100px;
    padding:5px;
    text-align:left;
    font-size:14px;
    line-height:20px;
    margin-bottom:10px;
    padding-left:0px;
}

.cardBody {
    height:175px;
    max-width:100%;
    text-align:center;
}

.lastRow {
    background-color: #04dcfa;
}

.indent {
    margin-left:20px;
}

.ordersTable {
    width:800px;
    margin-left:20px;
}

.orders th, .customerOrders th {
    width:25%;
    cursor: pointer;
}

.ordersTable tr:first-child th {
    background-color: #006dcc;
    color: #fff;
    font-weight: bold;
}


#submitCustomer {
    margin-left:50px;
    margin-top: -8px;
}

footer {
    margin-top:10px;
    font-weight: bold;
}


/* Bootstrap overrides */
.navbar-inner {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.navbar .nav {
    margin-left:50px;
    margin-top:15px;
}

.close {
    opacity: 1.0;
}

div.card a:hover { }

    div.card:hover{
         padding:2px; font-weight:bold 
    }

div.card a:hover div.cardHeader{ font-size:14px; font-weight:bold;}
div.card a:hover span.greenText{ font-size:14px; font-weight:bold;}

div.cardMedium a:hover { color: #808080; font-size:14px; text-decoration:solid;}

    div.cardMedium:hover{
         border: 2px solid #808080;
          padding:2px; font-weight:bold 
    }
div.cardMedium a:hover div.cardHeader{ color: #808080; font-size:14px; font-weight:bold;}
div.cardMedium a:hover span.greenText{ color: #808080; font-size:14px; font-weight:bold;}

.cardBodydivfixed
{
    min-height:150px;
    max-height:150px;
}

.shelf {
    background-image: url(../../images/shelves-repeat.png);
    background-repeat: repeat-x;
    background-position:center;
    z-index: 500;
}